body {
  background-color: slategrey;
  margin: 0px;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  width: 430px;
  text-align: center;
  padding-bottom: 10px;
  box-shadow: 4px 4px 5px #000000;
  margin: 0px;
  margin-top: 5px;
  margin-left: 5px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  height: 300px;
  width: 450px;
  margin: 10px;
  transition: all 0.5s;
}
img:hover {
  transform: scale(1.1);
}
